@font-face {
    font-family: "Monument Extended"; 
    src: url("../fonts/MonumentExtended-Regular.otf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
    } 
@font-face {
    font-family: "Plain"; 
    src: url("../fonts/Plain-Regular.otf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
    } 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #181818;
}

/*NAV*/ 

.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.nav-container h1{
    font-family: 'Monument Extended', sans-serif;
    color: white;
    font-size: 25px;
}

.nav-social-icons a{
    padding-right: 15px;
}

/* HERO */
.hero-container{
    display: flex;
    align-items: center;
    flex-wrap:wrap ;
    height: 50vh;
    
}
.hero-container h2{
    font-family: 'Monument Extended', sans-serif;
    font-size: 130px;
    color: white;
     margin-top: 165px; 
}

.hero-container img{
    position: absolute;
    width: 550px;
    top: 1;
    right: 0;
    z-index: -1;
    margin-right: 165px;
    margin-top: 85px;
    transform: rotate(5deg)!important;
    
}

/* ABOUT */

.about-section{
    margin-top: 305px;
    
    position: relative;
    height: 670px;
}

.about-text-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about-text-container h3{
    font-family: 'Monument Extended', sans-serif;
    color: white;
    font-size: 35px;
}

.about-text-container p{
    font-family: 'Plain', sans-serif;
    color: white;
    font-size: 50px;
    width: 720px;
    font-weight: 400;
    margin-left: 155px;
}

.about-img-container{
    display: flex;
   
}

.about-img-container p{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    width: 700px;
    height: 84px; 
    font-family: 'Plain', sans-serif;
    font-weight: 400;
    
    font-size: 35px;
}

.about-img-container img{
    width: 550px;
    position: absolute;
   bottom: 0;
    z-index: -1;
}